@import "~assets/bootstrap-sass/bootstrap/variables";

.dia {
  display: inline-block;
  padding: 0 10px;
}

.text-highlight {
  color: $color-second;
}

.status-pendente {
  color: $state-danger-text;

  td {
    background-color: $state-danger-bg;
  }
}

.panel-listagem {
  h4 {
    color: $color-primary;
  }
}
