<div class="container">

  <section class="wrap termos-uso">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h1 class="title title-no-icon">
          <i class="glyphicons glyphicons-lock "></i> Dicas de Segurança</h1>



        <div>
          <p>
            O <strong>Click Alugue</strong> adota medidas para bloquear anúncios sem credibilidade, e condena 
            quaisquer ações de usuários em geral, ANUNCIANTES e USUÁRIOS-GESTORES que possam prejudicar seus 
            USUÁRIOS(AS). O <strong>Click Alugue</strong> também conta com sua colaboração para garantir a 
            você uma navegação com mais segurança em nossa Plataforma. Estas são dicas gerais para uso do 
            Click Alugue, que também se aplicam a websites em geral, sendo somente dicas coletadas pela 
            experiência comum, não representando qualquer vinculação ou declaração de segurança aos USUÁRIOS.
          </p>
          <p>
            As definições específicas de termos utilizados neste instrumento estão localizadas no documento 
            Termos de Uso e Declaração de Direitos e Responsabilidades, que pode ser encontrado em 
            <a href="termos-condicoes-uso" target="_blank">https://www.clickalugue.com.br/termos-condicoes-uso</a>
          </p>
          <p>
            Confira algumas de nossas dicas:
            </p>
          <ul>
            <li>	
              Antes de concluir um negócio, sendo um anúncio veiculado por imobiliária, verifique seu histórico e 
              idoneidade;
            </li>
            <li>
              Leia o(s) contrato(s) com muita atenção. Em caso de dúvidas, consulte um(a) especialista e/ou um(a) 
              advogado(a) para prestar assessoria;
            </li>
            <li>
              No caso de apartamento, se você é o ANUNCIANTE, oriente funcionários(as) de portaria a não permitirem 
              visitas ao imóvel sem sua autorização; no caso de casa, faça a mesma orientação a quem estiver zelando 
              pela segurança do local ou lá permaneça pela maior parte do dia como, por exemplo, vigias e 
              empregados(as) domésticos(as).
            </li>
            <li>
              Desconfie de ofertas cujo preço praticado seja muito inferior ao praticado pelo mercado imobiliário;
            </li>
            <li>
              Nunca faça depósitos ou realize adiantamentos sem um contrato assinado;
            </li>
            <li>
              Realize pagamentos somente previstos em contrato e pelos meios combinados entre as partes. Desconfie de 
              mensagens recebidas por veículos que não são normalmente usados para isso, com conteúdo truncado ou mal 
              redigido.
            </li>
            <li>
              Avalie com cuidado pedidos recebidos por e. mail ou mensagens de telefone para clicar em links ou 
              botões, especialmente de fontes não conhecidas.
            </li>
            <li>
              Confira se o endereço do imóvel anunciado é verdadeiro. O mesmo com os telefones cadastrados. Confira 
              os dados do locatário ou pretendente à locação. Uma rápida pesquisa na internet pode trazer informações 
              úteis.
            </li>
            <li>
              Procure obter informações sobre o interessado(a) em visitar o seu imóvel anunciado; 
            </li>
            <li>
              Certifique-se de que o imóvel esteja desocupado de pessoas e formalize um contrato de locação.
            </li>
            <li>
              Tenha atenção às disposições estabelecidas no contrato de locação, visto que tal instrumento possui 
              caráter vinculativo entre as partes e seu cumprimento pelas mesmas é obrigatório.
            </li>
            <li>
              Cheque a situação atual do imóvel através da verificação de documentos e informações nos órgãos 
              competentes.
            </li>
            <li>
              Não forneça dados além daqueles estritamente necessários ao negócio que está realizando.
            </li>  
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>