<h2>CONTRATO DE CESSÃO DE USO DE FERRAMENTA ON LINE PARA GESTÃO AUTÔNOMA DE LOCAÇÃO IMOBILIÁRIA (AUTO GESTÃO) </h2>
<p>
  Por este instrumento, o Contratado APSA - ADMINISTRAÇÃO PREDIAL E NEGÓCIOS IMOBILIÁRIOS S. A., sociedade por ações 
  com sede na Cidade e Estado do Rio de Janeiro, na Travessa do Ouvidor nº 32, Centro, inscrita no CNPJ sob nº 
  28.350.338/0001-92, e. mail de contato atendimento@clickalugue.com.br (doravante simplesmente designado por 
  "SITE"), e o Contratante (doravante simplesmente designado por "USUÁRIO-GESTOR"), portador(a) dos documentos 
  informados e devidamente cadastrados em nosso banco de dados e identificados pelo seu nome de identificação 
  (ou login) e senha, têm entre si justo e acertado o quanto segue:
</p>
<h3>CONSIDERANDO QUE:</h3>
<p>
  (i) O SITE é proprietário do CLICK ALUGUE, plataforma de INTERNET que disponibiliza ferramenta específica e 
  autônoma de gestão de locações imobiliárias; (ii) O USUÁRIO-GESTOR deseja utilizar, para gestão de uma ou 
  mais locações sob sua administração, a plataforma mantida e ofertada pelo SITE; (iii) O presente "CONTRATO 
  DE CESSÃO DE USO DE FERRAMENTA ON LINE PARA GESTÃO AUTÔNOMA DE LOCAÇÃO IMOBILIÁRIA" (doravante simplesmente 
  o "CONTRATO") é eletrônico, sendo assim, o USUÁRIO-GESTOR aceita o CONTRATO vigente no instante em que decidir 
  e efetuar a contratação de acesso à plataforma, apondo sua concordância e manifestando sua anuência com a 
  contraprestação de valor, a partir dos dados pessoais e do(s) imóvel(is) cadastrados no SITE para gestão, 
  pelo que declara que entende estar firmando um CONTRATO que o obriga legalmente. (iv) O SITE é o titular de 
  direitos de propriedade intelectual do CLICK ALUGUE e da plataforma ou ferramenta on line para gestão autônoma 
  de locação imobiliária, sendo a autorização inerente a este CONTRATO válida e limitada somente à utilização, 
  individual, intransferível, exclusivamente pelo prazo e condições contratadas, da plataforma e ferramentas 
  tecnológicas contidas na mesma, com exclusiva finalidade de aplicação das ferramentas disponibilizadas, sem 
  que o presente CONTRATO represente fornecimento de qualquer produto ou serviço. Resolvem então as PARTES 
  contratar de acordo com as seguintes cláusulas e condições:
</p>
<h3>1. DEFINIÇÕES</h3>
<p>
  1.1 As definições específicas de termos utilizados neste instrumento estão localizadas no documento Termos de 
  Uso e Declaração de Direitos e Responsabilidades, que é parte integrante deste instrumento e pode ser encontrado 
  em <a href="termos-condicoes-uso">https://www.clickalugue.com.br/termos-condicoes-uso</a>.
</p>
<h3>2. DO OBJETO</h3>
<p>
  2.1 O objeto do presente CONTRATO é exclusivamente a cessão de acesso e uso pelo SITE, mediante remuneração 
  pelo USUÁRIO-GESTOR, de plataforma contendo ferramentas de gestão autônoma de locação imobiliária, exclusivamente 
  por acesso direto no SITE, pela contratação do CLICK ALUGUE. A propriedade intelectual sobre o software não é 
  objeto deste contrato, sendo de propriedade exclusiva do SITE.
</p>
<p>
  2.1.1 O CLICK ALUGUE não se responsabiliza pela: intermediação, gerenciamento ou administração de vendas, 
  compras, locações, empréstimos, trocas, arrendamentos ou qualquer tipo de transação feita entre USUÁRIOS e 
  USUÁRIO-GESTOR do portal, não possuindo qualquer ingerência sobre o contato entre USUÁRIOS e USUÁRIO-GESTOR, 
  ou sob qualquer efeito ou relação que derive do seu uso. 
</p>
<p>
  2.2 Todas as ações adotadas, documentos gerados e veiculados na plataforma devem obedecer às regras e 
  POLÍTICAS DO SITE identificadas neste CONTRATO e sujeitas às penalidades estabelecidas neste CONTRATO ou 
  documento correlato. 
</p>
<p>
  2.2.1 O mesmo diz respeito à conduta do USUÁRIO-GESTOR. 
</p>
<p>
  2.3 Caso o USUÁRIO-GESTOR tenha interesse em um novo PRODUTO, deverá fazê-lo acessando, dentro de sua área 
  exclusiva, o menu ou botão que contenha as opções de contratação e contratar uma das OPÇÕES DE PLANOS. Uma 
  vez contratado o PRODUTO haverá a incidência da remuneração do SITE e não poderá haver substituição por outro 
  PRODUTO. Na contratação do PLANO POR CONTRATO, determinados dados como, exemplificativamente, valor de aluguel 
  e prazo de contrato, não podem ser modificadas após a gravação dos dados.
</p>
<p>
  2.4 Cada OPÇÃO DE PLANO conterá: (i) um descritivo do funcionamento e prazo de duração, se cabível; (ii) as 
  ferramentas de gestão do PRODUTO em cada plano; (iii) e os custos.
</p>
<p>
  2.4.1 As ferramentas criadas e disponibilizadas para o PRODUTO são estabelecidas pelo SITE, de acordo com as 
  informações no ato da contratação e, conforme a experiência comum de gestão pelos demais USUÁRIOS ao longo 
  do tempo, poderão (tais ferramentas) ser alteradas e mesmo suprimidas pelo SITE, bem como poderão novas 
  ferramentas serem criadas e disponibilizadas, independentemente de notificação ao USUÁRIO-GESTOR. 
</p>
<p>
  2.5 Não é facultado ao USUÁRIO-GESTOR alterar o PRODUTO. 
</p>
<p>
  2.5.1 O USUÁRIO-GESTOR não pode modificar, adaptar, traduzir, inverter, desmontar, interrogar ou decodificar 
  o SITE, o PRODUTO ou qualquer elemento da plataforma CLICK ALUGUE. Não pode ignorar, cancelar, ou violar 
  qualquer método de proteção fornecido para impedir o uso não autorizado, usar ou copiar qualquer elemento 
  do SITE de outro modo ou para outro fim diverso do estabelecido neste contrato.
</p>
<p>
  2.6 Quando o USUÁRIO-GESTOR contratar os serviços disponíveis no CLICK ALUGUE, desde já autoriza que, mediante 
  solicitação de bancos, empresa de meio de pagamento ou operadoras de cartão de crédito, seja feita a confirmação 
  de seus dados.
</p>
<h3>3. DEVERES E DIREITOS DO SITE</h3>
<p>
  3.1 O SITE envidará seus melhores esforços empresariais para manter o CLICK ALUGUE disponível aos USUÁRIOS e 
  ao USUÁRIO-GESTOR, o que inclui a acessibilidade ao PRODUTO e as funcionalidades adicionais do CLICK ALUGUE, 
  24 (vinte e quatro) horas por dia, 07 (sete) dias por semana. 
</p>
<p>
  3.1.1 O SITE não se responsabiliza pela indisponibilidade do CLICK ALUGUE, desde que esta esteja em linha com 
  os parâmetros e as práticas de mercado de grandes portais da INTERNET. 
</p>
<p>
  3.1.2 Adicionalmente o SITE não se responsabiliza por: (i) indisponibilidade gerada por problemas do responsável 
  pela conexão do CLICK ALUGUE à INTERNET; (ii) indisponibilidade de acesso pelo USUÁRIO-GESTOR à INTERNET gerada 
  por problemas de conexão dos equipamentos do USUÁRIO-GESTOR; (iii) indisponibilidade de energia elétrica para 
  alimentação do servidor em que se encontra o CLICK ALUGUE; (iv) indisponibilidade de energia elétrica para 
  alimentação de equipamento de consulta de USUÁRIOS e/ou USUÁRIO-GESTOR; (v) eventos fora de seu controle. 
</p>
<p>
  3.1.3 O SITE também se reserva o direito de efetuar eventuais manutenções em seus sistemas, programadas ou não, 
  e de emergência, visando à melhoria na qualidade do serviço prestado, dispensado prévio aviso. 
</p>
<p>
  3.2 O SITE se compromete a corrigir, no menor prazo possível, eventuais falhas operacionais comunicadas pelo 
  USUÁRIO-GESTOR, não respondendo por eventuais perdas, danos ou lucros cessantes resultantes de tais eventos. 
  Em tais situações, não caberá, ao USUÁRIO-GESTOR, quaisquer direitos a reembolso ou desconto no valor do 
  pagamento já efetuado. 
</p>
<p>
  3.3 O SITE se exime de qualquer responsabilidade com respeito: (a) aos dados (incluindo seu conteúdo, validade 
  e fidelidade fática), direitos de propriedade intelectual (como direitos autorais, marcas etc.), dados pessoais, 
  incluindo valores cobrados, descontados, penalidades e declarações que componham boletos, comunicados, cálculos 
  ou outras ferramentas da plataforma, visto que é o próprio USUÁRIO-GESTOR quem os forneceu; (b) aos contatos e 
  relacionamentos entre o USUÁRIO-GESTOR e os USUÁRIOS como partes da locação gerida; (c) por ato cometido por 
  esses ou terceiros; e (d) pela capacidade e êxito na gestão da locação com uso da plataforma, sendo a obrigação 
  do SITE exclusivamente a disponibilização da plataforma com ferramentas, na modalidade e pelo prazo contratados. 
</p>
<p>
  3.4 O SITE poderá, a fim de verificar a consistência entre as informações prestadas pelo USUÁRIO-GESTOR e as 
  contidas na relação contratual de locação subjacente, fiscalizar o conteúdo dos dados e dos documentos no 
  CLICK ALUGUE, excetuados os dados de pagamento informados diretamente à operadora de cartão de crédito, 
  banco ou empresa de meio de pagamento, podendo fazer uso para correção de faturamento próprio ou para produção 
  de prova em favor de seu direito. O SITE se reserva o direito de, sem aviso prévio, suspender o acesso ou mesmo 
  encerrar o contrato com USUÁRIO-GESTOR que apresente inconsistências ou inveracidades de cadastro e/ou informações 
  na plataforma, ou que não esteja de acordo com qualquer das políticas relativas a este contrato, bem como tenha 
  capacidade para ferir ou aviltar a imagem do SITE, na sua visão única, exclusiva e incontestável. 
</p>
<p>
  3.5 O USUÁRIO-GESTOR concorda que o SITE pode, a qualquer tempo, mediante reclamação fundamentada de terceiros 
  ou por investigação própria do SITE, cancelar o login e senha de acesso dos USUÁRIOS-GESTORES que pratiquem 
  atos ilícitos ou antiéticos no uso do CLICK ALUGUE, firam os preceitos citados neste CONTRATO, no TERMO DE 
  USO e na POLÍTICA DE QUALIDADE, ou ainda daqueles que tiverem uma reputação de negócio ou na INTERNET que o 
  SITE considere desabonar o acesso à plataforma que o mesmo oferece, na sua visão única, exclusiva e incontestável. 
</p>
<p>
  3.6 O SITE reserva-se o direito de não aceitar ou renovar contratos de cessão de uso, a seu exclusivo critério, 
  situação em que quaisquer valores pagos pelo USUÁRIO-GESTOR para uso da plataforma, caso ainda não utilizados 
  com o efetivo uso de suas ferramentas, serão devolvidos, por realização de crédito, sempre que possível de 
  acordo com a mesma modalidade adotada pelo USUÁRIO-GESTOR para pagamento, em conformidade com os prazos 
  estipulados pelas empresas operadoras do pagamento (Banco, Empresa de meio de pagamento, Companhia de cartão 
  de crédito etc.). 
</p>
<p>
  3.7 O SITE poderá suspender o uso das ferramentas pelo USUÁRIO-GESTOR cujo cadastro contenha irregularidades, 
  até sua respectiva regularização. 
</p>
<p>
  3.8 Em havendo quaisquer impedimentos ao adimplemento do presente CONTRATO por motivo de responsabilidade do 
  USUÁRIO-GESTOR, o SITE reserva-se o direito de não disponibilizar o acesso à plataforma e ferramentas previstas 
  neste CONTRATO. 
</p>
<p>
  3.9 O SITE não se responsabiliza por qualquer tipo de dano - incluindo, mas não se limitando a, lucro cessante, 
  perda de informações confidenciais, perda de emprego, furto ou roubo, vítima de ato ilícito ou imoral, contatos 
  para finalidade diversa do objeto do PRODUTO, spam, phishing etc. - que o USUÁRIO-GESTOR ou qualquer USUÁRIO 
  venha a sofrer em decorrência (i) dos atos realizados pelo próprio USUÁRIO-GESTOR; (ii) do mau uso ou uso 
  ilícito que USUÁRIOS possam fazer no acesso ao SITE. 
</p>
<p>
  3.10 Em caso de ter havido culpa grave ou dolo na conduta do SITE, este indenizará o USUÁRIO-GESTOR pelos 
  seus danos, porém sua responsabilidade, para fins de indenização, limita-se à devolução do valor pago pelo 
  USUÁRIO-GESTOR para acesso e utilização das ferramentas de AUTO-GESTÃO do CLICK ALUGUE, após descontadas 
  todas as comissões ou outras verbas comerciais pagas pelo SITE, mais os impostos, taxas e outros encargos 
  legais e administrativos que sobre eles incidam. 
</p>
<p>
  3.11 Em nenhuma hipótese o SITE será responsável pelo não envio ou recebimento de boletos ou outros documentos 
  por meio da plataforma, especialmente se o cadastro de e. mail for defeituoso ou a conta estiver indisponível 
  para envio ou recebimento de mensagens, por pagamento ou recebimento a menor, por atraso ou inocorrência no 
  recebimento de valores, causados por terceiros (internet banking e geração de boletos em ambiente de banco; 
  empresas operadoras de cartões de crédito; empresas de meio de pagamento eletrônico), ou por outras questões 
  ligadas a problemas dos quais o CLICK ALUGUE não poderia ter conhecimento e/ou cuja resolução esteja fora de 
  seu alcance, tais como, mas não se limitando a, caixa de mensagens do USUÁRIO-GESTOR ou LOCATÁRIO cheia, 
  anti-spam ou bloqueadores ativados, dados incorretos cadastrados pelo USUÁRIO-GESTOR no CLICK ALUGUE, dados 
  incorretos no preenchimento pelos USUÁRIOS, serviços de terceiros (operadoras de telefonia, operadores de 
  correios eletrônicos e internet). 
</p>
<p>
  3.12 O SITE poderá, ainda, suspender funcionalidades nos contratos cujo prazo de vigência contratado haja 
  expirado, independentemente de qualquer aviso ou notificação prévia ao USUÁRIO-GESTOR.
</p>
<p>
  3.13 O SITE poderá utilizar informações do USUÁRIO-GESTOR, já detidas (i) por força de contratação anterior 
  de qualquer serviço no CLICK ALUGUE, (ii) por cadastramento prévio no SITE, mesmo sem contratação; (iii) 
  pela existência de outra relação comercial e cadastro no SITE, (iv) por cadastramento com base em outros 
  bancos de dados/cadastros, tais como redes sociais e cadastros de e. mail, pelo que desde já fica autorizado 
  pelo USUÁRIO-GESTOR o uso de quaisquer informações disponíveis na base de dados do SITE.
</p>
<p>
  3.14 O SITE utiliza, como meio de recebimento dos valores contratados, serviços prestados por outras pessoas, 
  tais como internet banking e geração de boletos em ambiente de banco; empresas operadoras de cartões de 
  crédito; empresas de meio de pagamento eletrônico, pelo que o USUÁRIO-GESTOR poderá ser direcionado a 
  WEBSITE diferente do CLICK ALUGUE, ainda que a aparência de exibição permaneça como do CLICK ALUGUE, 
  caso em que a operação realizada ocorre de forma externa e independente de qualquer ato e responsabilidade 
  do SITE.
</p>
<p>
  3.15 O SITE poderá, a seu exclusivo critério, guardar no todo ou em parte as informações e dados incluídos 
  pelo USUÁRIO-GESTOR, excetuados os dados de pagamento informados diretamente à operadora de cartão de crédito, 
  banco ou empresa de meio de pagamento, por tempo não determinado, não constituindo tal previsão em dever de 
  guarda ou exibição de eventuais informações ou dados mantidos em arquivo.
</p>
<h3>4. DEVERES E DIREITOS DO USUÁRIO-GESTOR</h3>
<p>
  4.1 O USUÁRIO-GESTOR deverá providenciar, por conta própria, o acesso à INTERNET, assim como os equipamentos 
  e programas técnicos necessários, como computadores, modem, etc. 
</p>
<p>
  4.2 O USUÁRIO-GESTOR será responsável pela correta utilização do seu login e senha, que são de uso pessoal 
  e intransferível. 
</p>
<p>
  4.3 O USUÁRIO-GESTOR deverá preencher corretamente os dados e informações solicitadas para cadastramento da 
  locação que deseja gerir, conforme plano adquirido, sendo certo que há informações mínimas para viabilizar 
  o funcionamento das ferramentas de gestão, como dados pessoais das partes no contrato de locação, dados do 
  imóvel, informações sobre valores, vencimentos e outros, conforme especificado na plataforma. 
</p>
<p>
  4.3.1 O USUÁRIO-GESTOR declara e garante que só realizará o cadastramento e gestão de bens sobre os quais 
  tenha poderes para administrar e que sejam de procedência idônea. 
</p>
<p>
  4.3.2 Os dados cadastrados, além de serem utilizados para gestão da locação, serão utilizados para envio de 
  correspondências sejam elas de cobrança ou de informativos. 
</p>
<p>
  4.3.3 O USUÁRIO-GESTOR compromete-se a fazer bom uso da plataforma disponibilizada e do CLICK ALUGUE, não 
  praticar fraude, disponibilizar dados e informações corretos e verdadeiros e a modificá-los quando necessário, 
  sob pena de, em assim não agindo, incorrer nas sanções civis e penais previstas em lei, bem como multa contratual 
  disposta neste instrumento, estando o PRODUTO sujeito à suspensão/exclusão, assim como o cadastro do USUÁRIO-GESTOR. 
</p>
<p>
  4.4 O USUÁRIO-GESTOR se compromete e será responsável: (i) pelo cadastramento, conteúdo, veracidade, qualidade, 
  precisão, manutenção e atualização das informações na plataforma, bem como por todos os seus dados pessoais e 
  dados de cobrança; (ii) pelos contatos e eventual relacionamento contratual com USUÁRIOS (locatários, garantidores 
  etc.); (iii) em prestar atendimento direto aos USUÁRIOS que com ele tenham contrato. 
</p>
<p>
  4.5 O USUÁRIO-GESTOR se obriga a manter o SITE e o CLICK ALUGUE livres de quaisquer reclamações ou ações em 
  decorrência de incorreção ou defeito dos dados e informações que inseriu na plataforma, ou ainda sobre as 
  suas atitudes perante os USUÁRIOS.
</p>
<p>
  4.6 O USUÁRIO-GESTOR se compromete a configurar e manter seu acesso à plataforma de gestão de acordo com a 
  POLÍTICA DE QUALIDADE, não podendo conter elementos falsos, fantasiosos, que ofendam a lei, a moral ou os 
  bons costumes, ou que causem danos a terceiros por violação de propriedade intelectual (marcas, patentes, 
  direitos autorais etc.), direito de imagem, intimidade, personalidade ou por qualquer outro motivo. 
</p>
<p>
  4.7 O USUÁRIO-GESTOR se compromete a preencher todas as informações exigidas pelo CLICK ALUGUE na contratação 
  e no cadastramento de cada locação a ser gerida, de acordo com os elementos verdadeiros da relação locatícia 
  que pretende gerir. 
</p>
<p>
  4.8 O USUÁRIO-GESTOR se obriga a cessar a gestão da locação quando deixar de ter os poderes para tal.
</p>
<p>
  4.8.1 Não obstante a obrigação acima, o USUÁRIO-GESTOR não fará jus à redução do valor pago, reembolso ou 
  qualquer outra forma de re-pagamento, compensação ou devolução das quantias pagas para acesso ao CLICK ALUGUE. 
</p>
<p>
  4.9 O USUÁRIO-GESTOR se obriga a tomar todas as medidas que assegurem um resultado positivo da utilização 
  dos serviços do CLICK ALUGUE, o que inclui, mas não se limita, à observância à POLÍTICA DE QUALIDADE e à 
  seção de DICAS DE SEGURANÇA, ambas contidas no WEBSITE CLICK ALUGUE.
</p>
<p>
  4.10 O USUÁRIO-GESTOR assume toda e qualquer responsabilidade advinda: (a) do uso e VEICULAÇÃO dos dados que 
  compõem sua seção de uso na plataforma; (b) dos contatos e relacionamentos entre o USUÁRIO-GESTOR e USUÁRIOS; 
  e (c) por ato cometido por terceiros, com uso do login e/ou dos dados do USUÁRIO-GESTOR. 
</p>
<p>
  4.11 Somente pode ser USUÁRIO-GESTOR pessoa capaz, de acordo com a lei. Se o USUÁRIO-GESTOR for caracterizado 
  como incapaz, as obrigações de indenizar previstas neste CONTRATO serão de seus representantes legais, nos 
  termos do artigo 932 e 933 do Código Civil (pais, tutores e curadores). 
</p>
<p>
  4.12 Na ocorrência de promoções ou planos especiais (período de serviço gratuito, abatimentos de valores, 
  cupom de desconto etc.) os termos da promoção serão exibidos em local de destaque no CLICK ALUGUE, não se 
  comprometendo, o SITE, a oferecer futuramente quaisquer promoções ou planos adicionais. O CLICK ALUGUE pode, 
  sem necessidade de qualquer menção expressa, limitar a ocorrência de promoções ou planos especiais a somente 
  um cadastro de USUÁRIO, pelo que, tendo utilizado uma promoção ou plano especial, não poderá o USUÁRIO valer-se 
  de outra promoção ou plano especial. O CLICK ALUGUE não está obrigado a conceder promoção, desconto ou plano 
  especial a quem já seja contratante de seus serviços, se a política estabelecida para o benefício direcionar-se 
  somente a novos contratantes.
</p>
<p>
  4.13 Além das demais consequências previstas neste CONTRATO e na lei, em caso de falta de pagamento ou em caso 
  de qualquer outro descumprimento contratual, o USUÁRIO-GESTOR será responsável por indenizar o SITE pelos 
  prejuízos resultantes desse inadimplemento. 
</p>
<p>
  4.13.1 Adicionalmente e sem prejuízo do acima, o descumprimento de qualquer obrigação disposta neste 
  instrumento sujeitará o USUÁRIO-GESTOR à multa contratual composta dos valores pagos pelo USUÁRIO-GESTOR ao 
  CLICK ALUGUE nos últimos 12 (doze) meses. Quaisquer valores pagos pelo USUÁRIO-GESTOR ao CLICK ALUGUE e 
  ainda não utilizados poderão ser retidos em satisfação total ou parcial desta multa. 
</p>
<p>
  4.14 O USUÁRIO-GESTOR declara ter lido, tomado ciência e concordado com o TERMOS DE USO 
  (<a href="termo-condicoes-uso">http://www.clickalugue.com.br/termo-condicoes-uso</a>),
   com a POLÍTICA DE QUALIDADE (<a href="politica-qualidade">http://www.clickalugue.com.br/politica-qualidade</a>) 
   e com as DICAS DE SEGURANÇA (<a href="dicas-seguranca">http://www.clickalugue.com.br/dicas-seguranca</a>), 
   se comprometendo com seus termos e obrigações e assumindo também todos os riscos inerentes ao negócio ora 
   pactuado. 
</p>
<p>
  4.14.1 O SITE poderá alterar tais documentos e políticas, incluindo nomes, marcas e domínio, a qualquer momento, 
  o que será imediatamente publicado no CLICK ALUGUE. O USUÁRIO-GESTOR se compromete a ler periodicamente estes 
  documentos no CLICK ALUGUE, se comprometendo inclusive com seus termos alterados de tempos em tempos. A anuência 
  com relação às alterações em documentos e políticas, tratando-se de oferta continuada de serviços por meio 
  eletrônico, presume-se pelo silêncio do USUÁRIO-GESTOR e/ou pela continuidade na utilização dos serviços.
</p>
<p>
  4.15 O USUÁRIO-GESTOR é o único responsável pelo relacionamento, deliberações e/ou transações comerciais que 
  realizar com o USUÁRIO, especialmente locatários e garantidores nos contratos sob sua gestão.
</p>
<p>
  4.16 O USUÁRIO-GESTOR compreende que a emissão de boletos de cobrança ao locatário de cada locação gerida 
  possui custo operacional e bancário (Taxa de Boleto) e concorda que tal Taxa de Boleto será deduzida dos 
  valores a serem a ele creditados, após o pagamento do locatário.
</p>
<p>
  4.16.1 A Taxa de Boleto será atualizada periódica e automaticamente, independentemente de aviso, podendo ser 
  visualizada pelo USUÁRIO-GESTOR na geração de um título ou nas informações de sua área exclusiva dentro do 
  CLICK ALUGUE.
</p>
<p>
  4.16.2 O custo equivalente à Taxa de Boleto poderá, a critério e por ação do USUÁRIO-GESTOR, ser repassada 
  ao locatário, desde que realize a inclusão de tal custo na formação do boleto a ser emitido. 
</p>
<p>
  4.17 O USUÁRIO-GESTOR concorda com o uso de comunicação eletrônica para se relacionar com o SITE e CLICK ALUGUE, 
  o que inclui a possibilidade de firmar contratos, fazer pedidos e para a entrega eletrônica de avisos, políticas 
  e registros de transações. Além disso, pelo presente instrumento, renuncia a quaisquer direitos ou exigências 
  de assinatura original (não eletrônica) ou a entrega ou a retenção de registros não eletrônicos.
</p>
<h3>5. ESPECIFICIDADES DA PLATAFORMA</h3>
<p>
  5.1 Por critérios técnicos, fica definido que uma vez escolhido o PLANO POR CONTRATO e realizado o seu 
  pagamento, o USUÁRIO-GESTOR não poderá alterar sua opção e solicitar reembolso ou pagamento de acréscimo, 
  respectivamente para troca de tipo de plano de valor inferior ou superior. Somente poderá encerrar o contrato. 
  Na contratação do PLANO POR ASSINATURA é permitida a alteração da opção para ampliar ou reduzir a quantidade 
  de locações geridas, sendo certo que tal alteração só será refletida no sistema no mês subsequente ao da 
  alteração, no dia do “corte mensal” do contrato.
</p>
<p>
  5.2 Fica definido também que não cabe ao USUÁRIO-GESTOR qualquer reembolso ou crédito de qualquer natureza 
  quando, por sua solicitação, a gestão da locação for descontinuada antes do vencimento do prazo contratado, 
  mesmo que a locação propriamente dita tenha continuidade.
</p>
<h3>6. VIGÊNCIA</h3>
<p>
  6.1 O decurso do prazo da disponibilidade das ferramentas de gestão tem início na data de contratação do plano.
</p>
<p>
  6.2 O contrato para gestão de locações estará terminado, automaticamente, (i) pelo decurso do prazo de 
  gestão da locação cadastrada, sem que haja nova contratação, no PLANO POR CONTRATO ou (ii) quando o 
  USUÁRIO-GESTOR solicitar o encerramento do contrato, nos PLANOS POR ASSINATURA. 
</p>
<p>
  6.2.1 Neste último caso o CLICK ALUGUE, através de seu sistema, poderá enviar e-mail (para o e-mail 
  cadastrado pelo USUÁRIO-GESTOR) comunicando que o encerramento do contrato foi realizado com sucesso. 
</p>
<p>
  6.3 No caso de impossibilidade de acesso ao CLICK ALUGUE, o USUÁRIO-GESTOR deverá consultar as Perguntas 
  Frequentes (<a href="faq">https://www.clickalugue.com.br/faq</a>) e respostas disponibilizadas no WEBSITE e, não resolvendo, 
  entrar em contato diretamente com o Fale Conosco, sendo que a análise das demandas e respostas são efetuadas 
  de segunda-feira a sexta-feira, das 9:00h às 18:00h, exceto feriados. 
</p>
<p>
  6.4 Não há compromisso do SITE quanto a conservação e manutenção e dados do USUÁRIO-GESTOR, do contrato, do 
  imóvel e do locatário em seu banco de dados. 
</p>
<p>
  6.5 Por ocasião do término do contrato, o USUÁRIO-GESTOR deverá ter quitado todos os pagamentos vencidos e 
  vincendos até a data do encerramento, de acordo com a opção contratada. 
</p>
<p>
  6.6 Em nenhum caso estará o SITE obrigado a restituir quantias pagas, mesmo nos casos em que o USUÁRIO-GESTOR 
  desista da gestão contratual, deixe de cadastrar a totalidade de imóveis contratados ou encerre prematuramente 
  a locação ou por qualquer outro motivo. 
</p>
<p>
  6.7 O fornecimento de falsa informação, inexatidão, divergência ou a utilização não autorizada de informações 
  de terceiros constitui crime tipificado no Código Penal Brasileiro. Nesta hipótese, o SITE se reserva o 
  direito de terminar o contrato no momento em que tiver conhecimento da falsidade ou má-fé empregadas pelo 
  USUÁRIO-GESTOR, podendo impedir seu posterior regresso nos serviços oferecidos pelo CLICK ALUGUE e, ainda, 
  noticiar a prática de crime às autoridades competentes. 
</p>
<p>
  6.8 Caso o USUÁRIO-GESTOR descumpra qualquer regra do contrato, o SITE pode rescindi-lo, ou, alternativamente, 
  apenas suspender a prestação dos serviços sem necessidade de aviso prévio ou notificação judicial ou 
  extrajudicial, ficando o restabelecimento dos serviços suspensos condicionados ao cumprimento integral da regra 
  contratual descumprida. 
</p>
<p>
  6.8.1 A rescisão ou suspensão por motivos imputáveis ao USUÁRIO-GESTOR poderá ou não ser a ele comunicada por 
  escrito, através do e-mail do USUÁRIO-GESTOR constante do seu cadastro no CLICK ALUGUE.
</p>
<p>
  6.8.2 Caso haja suspeita ou fortes indícios da má utilização dos serviços do CLICK ALUGUE pelo USUÁRIO-GESTOR, 
  o SITE poderá retirar o PRODUTO do ar, temporariamente ou em definitivo, mediante notificação ou aviso prévio 
  a ser enviado por e-mail, bem como recusar novo cadastro do USUÁRIO-GESTOR.
</p>
<h3>7. DISPOSIÇÕES GERAIS</h3>
<p>
  7.1 O USUÁRIO-GESTOR declara ter compreendido perfeitamente todas as condições deste CONTRATO. 
</p>
<p>
  7.1.1 Se o USUÁRIO desejar qualquer esclarecimento, poderá solicitá-lo através do Fale Conosco ou do e-mail 
  atendimento@clickalugue.com.br, antes de concordar com este CONTRATO. 
</p>
<p>
  7.2 Quaisquer avisos ou comunicações, que uma das PARTES deste CONTRATO tenha de fazer a outra PARTE, em 
  relação a quaisquer direitos ou obrigações contidas no presente instrumento, deverão ser efetuados em 
  estrita observância à legislação pertinente e adotar a forma escrita, sendo tidos como eficazmente entregues 
  no endereço constante do preâmbulo deste CONTRATO, se: (a) entregues em mãos mediante protocolo escrito por 
  quem de direito possa representar a PARTE remetida; (b) enviadas por serviço de "courier" mediante protocolo 
  escrito ou se pelo correio, na forma de carta registrada ("AR"), podendo ser recebida tanto pela PARTE remetida, 
  pessoa que a possa representar ou portaria de condomínio/assemelhado; (c) enviadas pelo Fale Conosco do CLICK 
  ALUGUE; (d) enviadas para o e-mail de contato de cada PARTE. 
</p>
<p>
  7.2.1 As PARTES convencionam o recebimento de mensagens de e-mail e respectivos arquivos anexos como prova 
  documental para todos os efeitos, desde que com aviso de confirmação de recebimento ou outro tipo de 
  protocolo/resposta que certifique o recebimento da comunicação. 
</p>
<p>
  7.3 O USUÁRIO-GESTOR deverá notificar imediatamente o SITE por escrito sobre qualquer perda ou extravio de 
  seu login e senha. O USUÁRIO-GESTOR indenizará o SITE contra todas e quaisquer reivindicações de terceiros 
  e todas as responsabilidades resultantes de, ou relacionadas ao, uso de seu login e senha, inclusive quanto 
  a danos resultantes de uso não autorizado e/ou fraudulento. 
</p>
<p>
  7.4 Fica eleito o foro da Comarca da Capital do Rio de Janeiro/RJ, como competente para dirimir quaisquer 
  controvérsias relacionadas a este CONTRATO, independentemente de qualquer outro, por mais privilegiado que 
  seja ou venha a ser. 
</p>
<p>
  7.5 O CLICK ALUGUE não funcionará, e não estará quebrando obrigação alguma para com o USUÁRIO-GESTOR segundo 
  o CONTRATO, em caso de força maior. Um caso de força maior significa qualquer circunstância fora do controle 
  do SITE, incluindo, mas não se limitando a, revolta ou desordem civil, guerra ou operações militares, 
  emergência nacional ou local, interrupção de corrente elétrica grave e sustentada ou interrupção grave 
  de serviço de INTERNET, enchente, subsidência ou condições meteorológicas de gravidade excepcional. 
  Caso o CLICK ALUGUE seja afetado por um caso de força maior, uma vez cessada a afetação, ele notificará 
  prontamente ao USUÁRIO-GESTOR quanto à extensão e à duração estimada de sua incapacidade de cumprir ou 
  atraso no cumprimento de suas obrigações, com base em seus maiores esforços possíveis. O SITE não aceitará 
  responsabilidade alguma pelas consequências resultantes de caso de força maior. De igual maneira, as 
  atividades do SITE e/ou CLICK ALUGUE podem ser encerradas, a qualquer tempo e sob qualquer fundamento, 
  não sendo devida qualquer indenização ao USUÁRIO-GESTOR por tal fato.
</p>
<p>
  7.6 O não exercício de um determinado direito, decorrente deste CONTRATO ou da lei, ou forma de exercê-lo 
  em determinada oportunidade, não estabelecerá precedente, nem constituirá novação ou renúncia às regras 
  do presente CONTRATO.
</p>
<h3>8. DISPOSIÇÕES FINAIS</h3>
<p>
  8.1 Este CONTRATO revoga e substitui quaisquer entendimentos verbais ou escritos havidos anteriormente 
  entre as PARTES acerca do objeto e demais disposições deste contrato. 
</p>
<p>
  8.2 Caso qualquer das cláusulas deste CONTRATO seja ou venha a se tornar ineficaz ou inválida, a validade 
  e o efeito das disposições restantes não serão afetados. 
</p>
<p>
  8.3 Nenhuma das disposições deste CONTRATO confere quaisquer direitos ou obrigações a terceiros que não 
  às PARTES. Por estarem de acordo com as condições estipuladas neste instrumento, as PARTES firmam o 
  presente CONTRATO.
</p>