<div class="container">
  <section class="wrap imoveis com-submenu">
    <h1 class="title title-no-icon">
      Administração
    </h1>

    <form>
      <div class="row">
        <div class="col-12">
          <fieldset>
            <legend>Configurações gerais</legend>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <fieldset>
            <legend>Informações bancárias</legend>
          </fieldset>
        </div>
      </div>
    </form>
  </section>
</div>