<h2>CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE CONSULTA CADASTRAL</h2>

<p>
Por este instrumento, o Contratado APSA - ADMINISTRAÇÃO PREDIAL E NEGÓCIOS IMOBILIÁRIOS S. A., sociedade por ações 
com sede na Cidade e Estado do Rio de Janeiro, na Travessa do Ouvidor nº 32, Centro, inscrita no CNPJ sob nº 
28.350.338/0001-92, e. mail de contato atendimento@clickalugue.com.br (doravante simplesmente designado por "SITE"), 
 o Contratante (doravante simplesmente designado por "CONTRATANTE"), portador(a) dos documentos informados e 
 devidamente cadastrados em nosso banco de dados e identificados pelo seu nome de identificação (ou login) e 
 senha, têm entre si justo e acertado o quanto segue:
</p>

<h3>1. DEFINIÇÕES</h3>
<p>
  1.1 As definições específicas de termos utilizados neste instrumento estão localizadas no documento Termos 
  de Uso e Declaração de Direitos e Responsabilidades, que é parte integrante deste instrumento e pode ser 
  encontrado em <a href="termos-condicoes-uso">https://www.clickalugue.com.br/termos-condicoes-uso</a>.
</p>
<h3>2. DO OBJETO</h3>
<p>
  2.1 O serviço de Consulta Cadastral representa o fornecimento, quando existentes, de informações, ao CONTRATANTE, 
  oriundas de dados constantes de bancos de dados públicos e/ou privados, disponíveis publicamente ou por força de 
  contrato do SITE com o fornecedor de tais dados, de forma que o CONTRATANTE possa ter elementos para análise 
  quanto à contratação com a pessoa pesquisada.
</p>
<p>
  2.2 O SITE poderá, além das informações e pagamento do preço, solicitar a exibição, original ou em cópia, de 
  documentos de identificação pessoal, profissional ou do negócio pretendido, como condicionante ao fornecimento 
  do serviço de Consulta Cadastral.
</p>
<h3>3. OBRIGAÇÕES DO CONTRATANTE</h3>
<p>
  3.1 Para realizar a solicitação do serviço de Consulta Cadastral, além do pagamento do preço fixado pelo SITE,
   deve o CONTRATANTE preencher a solicitação com dados pessoais e profissionais exigidos nos formulários de
    solicitação.
</p>
<p>
  3.2 O CONTRATANTE é responsável pela integridade, consistência e veracidade dos dados preenchidos na solicitação,
   não estando o SITE obrigado a promover avaliações ou correções sobre tais dados. Após a conclusão dos formulários
   e solicitação e envio, não é possível fazer qualquer alteração, sendo tal solicitação considerada como válida
    e eficaz, para todos os efeitos do contrato de prestação do serviço.
</p>
<p>
  3.3 Ao CONTRATANTE é vedado divulgar, publicar, reproduzir e/ou fornecer a terceiros, em qualquer hipótese e 
  sob qualquer forma, as informações obtidas por meio deste contrato, inclusive após o término da relação 
  contratual. É também vedado ao CONTRATANTE utilizar as informações obtidas para constranger ou coagir, de 
  qualquer maneira que seja, o titular do documento consultado ou, ainda, como justificativa para atos que 
  violem ou ameassem interesses de terceiros;
</p>
<p>
  3.4 Ao CONTRATANTE é também vedado vender, repassar ou estabelecer convênio de repasse de informações com 
  outras empresas, especialmente aquelas que prestam serviços de informações ou assemelhados.
</p>
<h3>4. OBRIGAÇÕES E ISENÇÕES DO SITE</h3>
<p>
  4.1 O SITE não fornece dados de seus clientes ou constantes de seu próprio banco de dados, seja para 
  preenchimento de formulários de solicitação de Consulta Cadastral, seja para compor o resultado que 
  será entregue ao CONTRATANTE. Todas as informações fornecidas são colhidas em bancos de dados externos, 
  sendo comum a coincidência de dados integrantes de bancos de dados diversos. É possível que não haja, 
  em quaisquer bancos de dados pesquisados, informações com os dados solicitados, razão pela qual a pesquisa 
  pode retornar sem informações ao CONTRATANTE ou, simplesmente, a informação “Nada Consta”. Inobstante, o 
  serviço de Consulta Cadastral, conforme definição acima, resta igualmente prestado.
</p>
<p>
  4.2 O SITE não realiza juízo de valor, julgamento ou qualquer tipo de avaliação ou crítica sobre os dados 
  colhidos e disponibilizados ao CONTRATANTE. A análise efetiva das informações cadastrais deve ser feita pelo 
  CONTRATANTE, o qual é integralmente responsável pelos atos e negócios que realizar com base nas informações 
  obtidas.
</p>
<p>
  4.3 Não há vinculação entre o fornecimento de informações cadastrais e a efetiva realização do ato ou negócio 
  que se pretende realizar com base nas informações, não representando o serviço de análise qualquer garantia 
  de que outro ato ou negócio será realizado, tais como efetivação de contrato de aluguel, contrato de fiança, 
  contrato de compra e venda.
</p>
<p>
  4.4 A disponibilização, pelo SITE, de quaisquer informações cadastrais como resultado da Consulta Cadastral, 
  não representa qualquer recomendação ou orientação de negócio ou uso de tais informações. A realização ou 
  não de quaisquer negócios jurídicos entre o CONTRATANTE e terceiros, e eventuais perdas e danos que possam 
  vir a pleitear, quer judicial, quer extrajudicialmente, não são de responsabilidade do SITE.
</p>
<p>
  4.5 O valor pago pelo serviço de Consulta Cadastral, em hipótese alguma será reembolsado, independentemente 
  do resultado do laudo cadastral, da pendência de documentos ou da concretização do ato ou negócio pretendido.
</p>
<p>
  4.6 O SITE não está obrigado a fornecer a natureza e/ou o conteúdo e/ou as fontes de informação utilizadas 
  para a obtenção dos resultados disponibilizados, nem os critérios técnicos utilizados para realização da 
  consulta.
</p>

<h3>5. PAGAMENTO E EXECUÇÃO DO SERVIÇO</h3>

<p>
  5.1 Compete ao CONTRATANTE promover os atos que realizem o pagamento do serviço, seja preenchendo dados em 
  plataforma de pagamento on line, seja pela emissão, impressão e pagamento de boleto, se houver. O serviço 
  somente será prestado após a comprovação do pagamento.
</p>
<p>
  5.1.1 O SITE poderá solicitar o envio, a qualquer tempo, de comprovantes de pagamento do serviço 
  contratado, pelo que deve o CONTRATANTE sempre guardar os comprovantes de pagamento.
</p>
<p>
  5.2 O serviço será executado em até 48h após a conclusão, com sucesso, de todas as etapas da 
  contratação (preenchimento correto dos formulários de solicitação; aceite do contrato, TERMOS E USO e
   POLÍTICAS DO SITE; identificação do pagamento).
</p>

<h3>6. VIGÊNCIA</h3>
<p>
  6.1 Considerando a forma de execução do contrato, este se extingue, automaticamente, com a disponibilização 
  do resultado da Consulta Cadastral ao CONTRATANTE.
</p>

<h3>7. FORO</h3>
<p>
  7.1 As partes elegem o foro Comarca da Capital do Rio de Janeiro/RJ, para dirimir eventuais conflitos 
  decorrentes do presente contrato, renunciando a qualquer outro, por mais privilegiado que seja.
</p>