<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/" />
                <rewriteMap name="/api" />
            </rewriteMaps>
            <rules>			
                <rule name="AngularJS Routes" stopProcessing="true">
				  <match url=".*" />
				  <conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />   
				  </conditions>
				  <action type="Rewrite" url="/" />
				</rule>				
                <rule name="Rewrite rule1 for /api">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{/api:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="api/swagger/ui/index" appendQueryString="true" />
                </rule>				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
