<h2>CONTRATO DE ANUNCIANTE</h2>
<p>Por este instrumento, o Contratado APSA - ADMINISTRAÇÃO PREDIAL E NEGÓCIOS IMOBILIÁRIOS S. A., sociedade por ações 
  com sede na Cidade e Estado do Rio de Janeiro, na Travessa do Ouvidor nº 32, Centro, inscrita no CNPJ sob nº 
  28.350.338/0001-92, e. mail de contato atendimento@clickalugue.com.br (doravante simplesmente por "SITE"), e o 
  Contratante (doravante simplesmente o "ANUNCIANTE"), portador(a) dos documentos informados e devidamente cadastrados 
  em nosso banco de dados e identificados pelo seu nome de identificação (ou login) e senha, têm entre si justo e 
  acertado o quanto segue:</p>

<p><strong>CONSIDERANDO QUE:</strong></p>
<p>(i) O SITE é proprietário do CLICK ALUGUE, cuja finalidade é a publicação na INTERNET de classificados; (ii) O 
  ANUNCIANTE deseja publicar na INTERNET Anúncio através de portal de classificados mantido pelo SITE, por meio do 
  CLICK ALUGUE e/ou, à escolha exclusiva do SITE, em outros portais de classificados; (iii) O presente "CONTRATO DE 
  ANUNCIANTE" (doravante simplesmente o "CONTRATO") é eletrônico, sendo assim, o ANUNCIANTE aceita o CONTRATO vigente 
  no instante em que decidir por uma das OPÇÕES DE PLANOS, quando houver opções, e der sua concordância, selecionando 
  o botão que manifeste sua anuência com a compra de ANÚNCIO no SITE, pelo que declara que entende estar firmando um 
  CONTRATO que o obriga legalmente. Resolvem então as PARTES contratar de acordo com as seguintes cláusulas e 
  condições:</p>
<h3>1. DEFINIÇÕES</h3>
<p>1.1 As definições específicas de termos utilizados neste instrumento estão localizadas no documento Termos de Uso e 
  Declaração de Direitos e Responsabilidades, que é parte integrante deste instrumento e pode ser encontrado em 
  <a href="termos-condicoes-uso">https://www.clickalugue.com.br/termos-condicoes-uso</a>.</p>

<h3>2. DO OBJETO</h3>
<p>O objeto do presente CONTRATO é exclusivamente a prestação pelo SITE, mediante remuneração do ANUNCIANTE, de veiculação 
  de ANÚNCIO no SITE pela contratação do CLICK ALUGUE. </p>
<p>2.1.1 O CLICK ALUGUE não tem anúncios próprios e não realiza, e tampouco se responsabiliza pela: intermediação, 
  gerenciamento ou administração de vendas, compras, locações, empréstimos, trocas, arrendamentos ou qualquer tipo de 
  transação feita entre USUÁRIOS e ANUNCIANTE do portal, não possuindo qualquer ingerência sobre o contato entre USUÁRIOS 
  e ANUNCIANTE, ou sob qualquer efeito ou relação que derive do ANÚNCIO.</p>
<p>2.2 Todo ANÚNCIO deve obedecer às regras e POLÍTICAS DO SITE identificadas neste CONTRATO e sujeitas às penalidades 
  estabelecidas neste CONTRATO ou documento correlato.</p>
<p>2.2.1 O mesmo diz respeito à conduta do ANUNCIANTE.</p>
<p>2.3 Caso o ANUNCIANTE tenha interesse em um novo ANÚNCIO, deverá fazê-lo acessando MEUS ANÚNCIOS e novamente contratar 
  uma das OPÇÕES DE PLANOS. Uma vez publicado o ANÚNCIO, este não poderá ser substituído por outro ANÚNCIO nem ter 
  alterados os campos “Endereço (logradouro), Número, Complemento, Bairro, Cidade, UF e CEP.</p>
<p>2.4 Cada OPÇÃO DE PLANO conterá: (i) um descritivo; (ii) as formas de veiculação do ANÚNCIO; (iii) o período de 
  veiculação do ANÚNCIO; (iv) os custos; e (v) os meios e formas de pagamento.</p>
<p>2.4.1 Os critérios de exibição do ANÚNCIO são estabelecidos pelo SITE segundo o perfil de seus USUÁRIOS, e poderão 
  ser alterados pelo SITE independentemente de notificação ao ANUNCIANTE para assegurar maior visibilidade ao ANÚNCIO.</p>
<p>2.5 Não é facultado ao ANUNCIANTE alterar o ANÚNCIO, a não ser nas exceções que estão disponibilizadas na MEUS ANÚNCIOS, 
  sendo estas meras liberalidades do SITE, não se consubstanciando direito do ANUNCIANTE, nem mesmo mediante sua 
  reiteração.</p>
<p>2.5.1 A possibilidade de alterar o ANÚNCIO e o grau de alteração poderá depender da modalidade de veiculação contratada, 
  e a descrição detalhada de tais possibilidades, se houver, se encontrará na MEUS ANÚNCIOS e nas POLÍTICAS DO SITE.</p>
<p>2.6 Quando o ANUNCIANTE contratar os serviços disponíveis no CLICK ALUGUE, desde já autoriza que, mediante solicitação 
  de bancos ou operadoras de cartão de crédito, seja feita a confirmação de seus dados.</p>

<h3>3. DEVERES E DIREITOS DO SITE</h3>
<p>3.1 O SITE envidará seus melhores esforços empresariais para manter o CLICK ALUGUE disponível ao USUÁRIO e ao ANUNCIANTE, 
  o que inclui a acessibilidade ao ANÚNCIO e as funcionalidades adicionais do CLICK ALUGUE, 24 (vinte e quatro) horas por 
  dia, 07 (sete) dias por semana.</p>
<p>3.1 O SITE envidará seus melhores esforços empresariais para manter o CLICK ALUGUE disponível ao USUÁRIO e ao ANUNCIANTE, 
  o que inclui a acessibilidade ao ANÚNCIO e as funcionalidades adicionais do CLICK ALUGUE, 24 (vinte e quatro) horas por 
  dia, 07 (sete) dias por semana.</p>
<p>3.1.2 Adicionalmente o SITE não se responsabiliza por: (i) indisponibilidade gerada por problemas do responsável pela 
  conexão do CLICK ALUGUE à INTERNET; (ii) indisponibilidade de acesso pelo ANUNCIANTE à INTERNET gerada por problemas de 
  conexão dos equipamentos do ANUNCIANTE; (iii) indisponibilidade de energia elétrica para alimentação do servidor em que 
  se encontra o SITE; (iv) indisponibilidade de energia elétrica para alimentação de equipamento de consulta de USUÁRIOS 
  e/ou ANUNCIANTE; (v) eventos fora de seu controle.</p>
<p>3.1.3 O SITE também se reserva o direito de efetuar eventuais manutenções em seus sistemas, programadas ou não, e de 
  emergência, visando à melhoria na qualidade do serviço prestado, dispensado prévio aviso.</p>
<p>3.2 O SITE se compromete a corrigir, no menor prazo possível, eventuais falhas operacionais comunicadas pelo ANUNCIANTE, 
  não respondendo por eventuais perdas, danos ou lucros cessantes resultantes de tais eventos. Em tais situações, não 
  caberá, ao ANUNCIANTE, quaisquer direitos a reembolso ou desconto no valor do pagamento já efetuado.</p>
<p>3.3 O SITE se exime de qualquer responsabilidade com respeito: (a) aos dados (incluindo seu conteúdo, validade e 
  fidelidade fática), direitos de propriedade intelectual (como direitos autorais, marcas etc.), fotos e vídeos (incluindo 
  seu conteúdo, validade e fidelidade fática) que compõem o ANÚNCIO, visto que é o próprio ANUNCIANTE quem os forneceu; 
  (b) aos contatos e relacionamentos entre o ANUNCIANTE e os USUÁRIOS que se interessarem pelo ANÚNCIO; (c) por ato cometido 
  por esses ou outros terceiros; e (d) pelo sucesso do ANÚNCIO, assim interpretado como a efetivação do negócio jurídico 
  pretendido, sendo a obrigação do SITE exclusivamente a veiculação do ANÚNCIO, na modalidade e pelo prazo contratados.</p>
<p>3.4 O SITE, a partir de seu controle de qualidade ou mediante reclamação fundamentada, poderá fiscalizar o conteúdo 
  dos ANÚNCIOS no CLICK ALUGUE, garantindo a qualidade de seus serviços. O SITE se reserva o direito de, sem aviso 
  prévio, suspender ou excluir qualquer ANÚNCIO que apresente inconsistências ou inveracidades, ou que não esteja de 
  acordo com qualquer das políticas relativas a este contrato, bem como tenha capacidade para ferir ou aviltar a imagem 
  do SITE, na sua visão única, exclusiva e incontestável.</p>
<p>3.5 O ANUNCIANTE concorda que o SITE pode, a qualquer tempo, mediante reclamação fundamentada de terceiros ou por 
  investigação própria do SITE, cancelar o login e senha de acesso dos ANUNCIANTES que pratiquem atos ilícitos ou 
  antiéticos a partir de um ANÚNCIO, firam os preceitos citados neste CONTRATO, no TERMO DE USO e na POLÍTICA DE 
  QUALIDADE, ou ainda daqueles que tiverem uma reputação de negócio ou na INTERNET que o SITE considere desabonar o 
  serviço de classificados que o mesmo oferece, na sua visão única, exclusiva e incontestável. </p>
<p>3.6 O SITE reserva-se o direito de não aceitar ou renovar ANÚNCIOS, a seu exclusivo critério, situação em que 
  quaisquer valores pagos pelo ANUNCIANTE para a veiculação rejeitada serão devolvidos, por realização de crédito, 
  sempre que possível de acordo com a mesma modalidade adotada pelo ANUNCIANTE para pagamento, em conformidade com 
  os prazos estipulados pelas empresas operadoras do pagamento (Banco, Empresa de meio de pagamento, Companhia de 
  cartão de crédito etc.).</p>
<p>3.7 O SITE poderá suspender o ANÚNCIO de ANUNCIANTES cujo cadastro contenha irregularidades até sua respectiva 
  regularização.</p>
<p>3.8 Em havendo quaisquer impedimentos ao adimplemento do presente CONTRATO por motivo de responsabilidade do 
  ANUNCIANTE, o SITE reserva-se o direito de não executar os serviços previstos neste CONTRATO.</p>
<p>3.9 Na mesma PÁGINA o SITE poderá veicular ANÚNCIOS de diferentes ANUNCIANTES, inclusive anúncios derivados de 
  outros contratos mantidos pelo SITE com seus clientes. </p>
<p>3.10 O SITE não se responsabiliza por qualquer tipo de dano - incluindo, mas não se limitando a, lucro cessante, 
  perda de informações confidenciais, perda de emprego, furto ou roubo, vítima de ato ilícito ou imoral, contatos 
  para finalidade diversa do objeto do anúncio, spam, phisshing etc. - que o ANUNCIANTE venha a sofrer em decorrência 
  (i) do conteúdo veiculado pelo próprio ANUNCIANTE; (ii) do mau uso ou uso ilícito que USUÁRIOS possam fazer de seu 
  ANÚNCIO ou das informações que acompanham o ANÚNCIO.</p>
<p>3.11 Em caso de ter havido culpa grave ou dolo na conduta do SITE, este indenizará o ANUNCIANTE pelos seus danos, 
  porém sua responsabilidade, para fins de indenização, limita-se à devolução do valor pago pelo ANUNCIANTE para a 
  postagem de seus ANÚNCIOS, após descontadas todas as comissões ou outras verbas comerciais pagas pelo SITE, mais 
  os impostos, taxas e outros encargos legais e administrativos que sobre eles incidam. </p>
<p>3.12 Em nenhuma hipótese o SITE será responsável pelo não recebimento por parte do ANUNCIANTE de e-mail, telefonema 
  e/ou mensagem, relacionados, mas não se limitando, à vigência do ANÚNCIO, renovação do PLANO, andamento da ordem 
  para pagamento do PLANO, interesse de USUÁRIOS no bem anunciado, quando este não-recebimento estiver ligado a 
  problemas a que o CLICK ALUGUE não poderia ter conhecimento e/ou cuja resolução esteja fora de seu alcance, 
  tais como, mas não se limitando a, caixa de mensagens do ANUNCIANTE cheia, anti-spam ou bloqueadores ativados, 
  dados incorretos cadastrados pelo ANUNCIANTE no CLICK ALUGUE, dados incorretos no preenchimento pelos USUÁRIOS, 
  serviços de terceiros (operadoras de telefonia, operadores de correios eletrônicos e internet). </p>
<p>3.13 O SITE poderá, ainda, retirar de exibição os ANÚNCIOS cujo prazo de vigência contratado haja expirado, 
  independentemente de qualquer aviso ou notificação prévia ao ANUNCIANTE.</p>
<p>3.14 O SITE poderá utilizar informações do ANUNCIANTE, já detidas (i) por força de contratação anterior de ANÚNCIO 
  no CLICK ALUGUE, (ii) por cadastramento prévio no SITE, mesmo sem contratação; (iii) pela existência de outra 
  relação comercial e cadastro no SITE, (iv) por cadastramento com base em outros bancos de dados/cadastros, tais 
  como redes sociais e cadastros de e. mail, pelo que desde já fica autorizado pelo ANUNCIANTE o uso de quaisquer 
  informações disponíveis na base de dados do SITE.</p>
<p>3.15 O SITE poderá utilizar, como meio de recebimento dos valores contratados, serviços prestados por outras pessoas, 
  tais como internet banking e geração de boletos em ambiente de banco; empresas operadoras de cartões de crédito; 
  empresas de meio de pagamento eletrônico, pelo que o ANUNCIANTE poderá ser direcionado a WEBSITE diferente do SITE, 
  ainda que a aparência de exibição permaneça como do SITE, caso em que a operação realizada ocorre de forma externa 
  e independente de qualquer ato e responsabilidade do SITE.</p>
<p>3.16 O SITE poderá, a seu exclusivo critério, guardar no todo ou em parte as informações e dados que compõem o 
  ANÚNCIO, por tempo não determinado, não constituindo tal previsão em dever de guarda ou exibição de eventuais 
  informações ou dados mantidos em arquivo.</p>

<h3>4. DEVERES E DIREITOS DO ANUNCIANTE</h3>
<p>4.1 O ANUNCIANTE deverá providenciar, por conta própria, o acesso à INTERNET, assim como os equipamentos e 
  programas técnicos necessários, como computadores, modem, etc.</p>
<p>4.2 O ANUNCIANTE será responsável pela correta utilização do seu login e senha, que são de uso pessoal e 
  intransferível.</p>
<p>4.3 O ANUNCIANTE deverá preencher corretamente os dados e informações solicitadas para cadastramento e para veiculação 
  de seu ANÚNCIO, devendo escolher a(s) OPÇÕES DE PLANOS desejada(s).</p>
<p>4.3.1 O ANUNCIANTE garante que só anunciará bens sobre os quais tenha poderes para dispor e que sejam de procedência 
  idônea.</p>
<p>4.3.2 Os dados cadastrados, além de serem utilizados para a veiculação do ANÚNCIO, serão utilizados para envio de 
  correspondências sejam elas de cobrança ou de informativos.</p>
<p>4.3.3 O ANUNCIANTE compromete-se a fazer bom uso de seu ANÚNCIO e do CLICK ALUGUE, não praticar fraude, disponibilizar 
  dados e informações corretos e verdadeiros e a modificá-los quando necessário, sob pena de, em assim não agindo, 
  incorrer nas sanções civis e penais previstas em lei, bem como multa contratual disposta neste instrumento, estando 
  o ANÚNCIO sujeito à suspensão/exclusão, assim como o cadastro do ANUNCIANTE.</p>
<p>4.4 O ANUNCIANTE se compromete e será responsável: (i) pelo cadastramento, conteúdo, veracidade, qualidade, precisão, 
  manutenção e atualização das informações, das fotos e dos vídeos no ANÚNCIO, bem como por todos os seus dados pessoais 
  e dados de cobrança; (ii) pelos contatos e eventual relacionamento contratual com USUÁRIOS fruto do ANÚNCIO; (iii) em 
  responder as mensagens ou telefonemas de USUÁRIOS em até 48 (quarenta e oito) horas úteis; (iv) em informar o USUÁRIO 
  sobre as condições jurídicas e contratuais do imóvel, como, por exemplo, ANÚNCIOS de imóveis com pendência de partilha 
  por força de sucessão <em>causa mortis</em> ou dissolução de sociedade conjugal ou empresária.</p>
<p>4.5 O ANUNCIANTE se obriga a manter o SITE livre de quaisquer reclamações ou ações em decorrência de incorreção ou 
  defeito dos dados e informações sobre o ANÚNCIO, ou ainda sobre as suas atitudes perante os USUÁRIOS.</p>
<p>4.6 O ANUNCIANTE se compromete a configurar seu ANÚNCIO de acordo com a POLÍTICA DE QUALIDADE, não podendo conter 
  elementos falsos, fantasiosos, que ofendam a lei, a moral ou os bons costumes, ou que causem danos a terceiros por 
  violação de propriedade intelectual (marcas, patentes, direitos autorais etc.), direito de imagem ou por qualquer 
  outro motivo.</p>
<p>4.7 O ANUNCIANTE se compromete a efetuar um ANÚNCIO para atingir unicamente o fim expresso em tal ANÚNCIO e limitar 
  o ANÚNCIO à finalidade proposta pelo SITE e pelo CLICK ALUGUE.</p>
<p>4.7.1 São expressamente vedados ANÚNCIOS que visem à comercialização de um bem ou serviço que não o anunciado, ou 
  ainda ANÚNCIOS que visem atrair USUÁRIOS ao ANUNCIANTE, para que este então proponha algo diverso ou em adição ao 
  contido no ANÚNCIO.</p>
<p>4.8 O ANUNCIANTE se obriga a cessar a veiculação do ANÚNCIO quando deixar de ter os poderes para dispor do bem 
  anunciado ou, de qualquer outra forma, esteja satisfeito o objetivo do ANÚNCIO.</p>
<p>4.8.1 Não obstante a obrigação acima, o ANUNCIANTE não fará jus à redução do valor pago, reembolso ou qualquer 
  outra forma de re-pagamento, compensação ou devolução das quantias pagas pelo ANÚNCIO.</p>
<p>4.9 O ANUNCIANTE se obriga a tomar todas as medidas que assegurem um resultado positivo da utilização dos serviços 
  do CLICK ALUGUE, o que inclui, mas não se limita, à observância à POLÍTICA DE QUALIDADE e à seção de DICAS DE 
  SEGURANÇA, ambas contidas no SITE.</p>
<p>4.10 O ANUNCIANTE assume toda e qualquer responsabilidade advinda: (a) do uso e publicação dos dados, artes, criações, 
  fotos e vídeos que compõem o ANÚNCIO; (b) dos contatos e relacionamentos entre o ANUNCIANTE e USUÁRIOS; e (c) por 
  ato cometido por terceiros, com uso do login e/ou dos dados do ANUNCIANTE. </p>
<p>4.11 Somente podem ser ANUNCIANTES pessoas capazes, de acordo com a lei. Se o ANUNCIANTE for caracterizado como 
  incapaz, as obrigações de indenizar previstas neste CONTRATO serão de seus representantes legais, nos termos do 
  artigo 932 e 933 do Código Civil (pais, tutores e curadores).</p>
<p>4.12 Na ocorrência de promoções ou planos especiais (período de serviço gratuito, abatimentos de valores, cupom 
  de desconto etc.) os termos da promoção serão exibidos em local de destaque no CLICK ALUGUE, não se comprometendo, 
  o SITE, a oferecer futuramente quaisquer promoções ou planos adicionais.</p>
<p>4.13 Além das demais consequências previstas neste CONTRATO e na lei, em caso de falta de pagamento ou em caso de 
  qualquer outro descumprimento contratual, o ANUNCIANTE será responsável por indenizar o SITE pelos prejuízos 
  resultantes desse inadimplemento.</p>
<p>4.13.1 Adicionalmente e sem prejuízo do acima, o descumprimento de qualquer obrigação disposta neste instrumento 
  sujeitará o ANUNCIANTE à multa contratual composta dos valores pagos pelo ANUNCIANTE ao CLICK ALUGUE nos últimos 
  12 (doze) meses. Quaisquer valores pagos pelo ANUNCIANTE ao CLICK ALUGUE e ainda não utilizados poderão ser retidos 
  em satisfação total ou parcial desta multa.</p>
<p>4.14 O ANUNCIANTE declara ter lido, tomado ciência e concordado com o TERMOS DE USO (<a href="termos-condicoes-uso">
  https://www.clickalugue.com.br/termos-condicoes-uso</a>), com a POLÍTICA DE QUALIDADE (<a href="politica-qualidade">
  https://www.clickalugue.com.br/politica-qualidade</a>) e com as DICAS DE SEGURANÇA (<a href="dicas-seguranca">
  http://www.clickalugue.com.br/dicas-seguranca</a>), se comprometendo com seus termos e obrigações e assumindo 
  também todos os riscos inerentes ao negócio ora pactuado.</p>
<p>4.14.1 O SITE poderá alterar tais documentos e políticas, incluindo nomes, marcas e domínio, a qualquer momento, 
  o que será imediatamente publicado no SITE e/ou CLICK ALUGUE. O ANUNCIANTE se compromete a ler periodicamente 
  estes documentos no CLICK ALUGUE, se comprometendo inclusive com seus termos alterados de tempos em tempos. A 
  anuência com relação às alterações em documentos e políticas, tratando-se de oferta continuada de serviços por 
  meio eletrônico, presume-se pelo silêncio do ANUNCIANTE e/ou pela continuidade na utilização dos serviços.</p>
<p>4.15 Cabe ao ANUNCIANTE assegurar-se, antes de tomar qualquer atitude, de que o USUÁRIO interessado no ANÚNCIO é 
  idôneo. O ANUNCIANTE é o único responsável pelo relacionamento, deliberações e/ou transações comerciais que realizar 
  com o USUÁRIO. Outrossim, a comercialização do produto/serviço anunciado, bem como a garantia de sua legítima 
  procedência, é de inteira responsabilidade do ANUNCIANTE. O ANUNCIANTE concorda com o recebimento de contatos de 
  USUÁRIOS do SITE e compreende que o SITE não determina os dias e horários em que USUÁRIOS farão contato com o 
  ANUNCIANTE.</p>
<p>4.16 O ANUNCIANTE compreende que o SITE não garante que o ANÚNCIO veiculado no CLICK ALUGUE resultará no objetivo 
  pretendido pelo ANUNCIANTE. O CLICK ALUGUE é mero instrumento remunerado de disponibilização de mídia classificada 
  para ANÚNCIO e, como todo negócio, está sujeito ao risco do insucesso, pelo que restará isento de responsabilidades 
  conforme concordado e aquiescido pelo ANUNCIANTE.</p>
<p>4.17 O ANUNCIANTE concorda com o uso de comunicação eletrônica para se relacionar com o SITE, o que inclui a 
  possibilidade de firmar contratos, fazer pedidos e para a entrega eletrônica de avisos, políticas e registros de 
  transações. Além disso, pelo presente instrumento, renuncia a quaisquer direitos ou exigências de assinatura 
  original (não eletrônica) ou a entrega ou a retenção de registros não eletrônicos</p>

<h3>5. ANÚNCIOS</h3>
<p>5.1 O ANUNCIANTE deverá efetuar seu ANÚNCIO dentro das seções e subseções do CLICK ALUGUE apropriadas a esta 
  finalidade.</p>
<p>5.2 O ANÚNCIO deve conter uma descrição clara e precisa das características do que for anunciado.</p>
<p>5.3 Os preços anunciados devem conter todos os tributos sobre eles incidentes. O SITE poderá remover aqueles 
  ANÚNCIOS cujo preço final não esteja suficientemente claro, ou que permitam algum tipo de variação.</p>
<p>5.4 O ANÚNCIO pode conter gráficos, textos, descrições e fotos do bem oferecido, sempre que tal prática não 
  viole nenhum dispositivo deste CONTRATO ou das POLÍTICAS DO SITE.</p>
<p>5.4.1 Ao incluir foto ou vídeo, quando disponível no plano, este deverá corresponder especificamente ao bem que 
  está sendo oferecido.</p>
<p>5.5 Ao publicar o ANÚNCIO, o ANUNCIANTE declara possuir o direito de ofertar o bem objeto do ANÚNCIO, ou que está 
  facultado para tal pelo titular de tal direito, além de disponibilidade imediata do bem, salvo menção expressa e 
  clara em sentido contrário constante do próprio ANÚNCIO.</p>
<p>5.5.1. No que diz respeito a ANÚNCIO de imóveis, somente poderão ser anunciados imóveis que já estejam prontos 
  para morar.</p>
<p>5.6 Os requerimentos qualitativos mais detalhados que o ANUNCIANTE deve obedecer sobre a forma e conteúdo dos 
  ANÚNCIOS encontram-se na POLÍTICA DE QUALIDADE.</p>
<p>5.7 O início da veiculação do ANÚNCIO varia conforme a opção de plano de veiculação e o meio de pagamento escolhido 
  pelo ANUNCIANTE, sendo que:</p>
<p>5.7.1 A veiculação pública do ANÚNCIO, de acordo com o PLANO escolhido pelo ANUNCIANTE, iniciará em até 48 
  (quarenta e oito) horas após o ANUNCIANTE promover a conclusão, com sucesso, das etapas de criação do ANÚNCIO. 
  Se após este procedimento, por qualquer fundamento, o pagamento for revogado, o ANÚNCIO poderá ser retirado do ar 
  pelo CLICK ALUGUE, independentemente de qualquer aviso ou notificação.</p>
<p>5.8 Por critérios técnicos, fica definido que uma vez escolhido o tipo de plano e realizado o seu pagamento, o 
  ANUNCIANTE não poderá alterar sua opção e solicitar reembolso ou pagamento de acréscimo, respectivamente para troca 
  de tipo de plano de valor inferior ou superior. Fica definido também que não cabe ao ANUNCIANTE qualquer reembolso 
  ou crédito de qualquer natureza quando, por sua solicitação, a veiculação do ANÚNCIO for descontinuada antes do 
  vencimento do prazo contratado, mesmo que o produto/serviço anunciado já tenha sido vendido.</p>
<p>5.9 O decurso do prazo de veiculação do ANÚNCIO, tem início (i) da data de conclusão, com sucesso, das etapas de 
  criação do ANÚNCIO ou, (ii) caso o ANUNCIANTE não providencie a criação do ANÚNCIO nos 05 (cinco) dias após a 
  contratação, no 6º (sexto) dia a partir da data de contratação do PLANO.</p>

<h3>6. TÉRMINO</h3>
<p>6.1 A veiculação de ANÚNCIO contratada estará terminada pelo decurso do prazo de veiculação sem que haja renovação, 
  ou quando o ANUNCIANTE acessar a página de gestão de seus ANÚNCIOS e se utilizar da opção que promova a exclusão de 
  anúncio.</p>
<p>6.1.1 Neste último caso o CLICK ALUGUE, através de seu sistema, poderá enviar e-mail automático (para o e-mail 
  cadastrado pelo ANUNCIANTE) comunicando que o cancelamento do ANÚNCIO foi realizado com sucesso.</p>
<p>6.2 No caso de impossibilidade de acesso ao CLICK ALUGUE, o ANUNCIANTE deverá consultar as Perguntas Frequentes 
  (<a href="faq">https://www.clickalugue.com.br/faq</a>) e respostas disponibilizadas no WEBSITE e, não resolvendo, 
  entrar em contato diretamente com o Fale Conosco, sendo que a análise das demandas e respostas são efetuadas de 
  segunda-feira a sexta-feira, das 9:00h às 18:00h, exceto feriados.</p>
<p>6.3 Não há compromisso do SITE quanto a conservação e manutenção e dados do ANUNCIANTE e do ANÚNCIO em seu banco 
  de dados.</p>
<p>6.4 Por ocasião do término do ANÚNCIO, o ANUNCIANTE deverá ter quitado todos os pagamentos vencidos e vincendos 
  até a data do cancelamento, de acordo com a opção de veiculação contratada.</p>
<p>6.5 Em nenhum caso estará o SITE obrigado a restituir quantias pagas, mesmo nos casos em que o ANUNCIANTE desista 
  do ANÚNCIO durante o período de veiculação contratado, por já ter negociado o bem anunciado ou por qualquer outro 
  motivo</p>
<p>6.6 O fornecimento de falsa informação, inexatidão, divergência ou a utilização de informações de terceiros 
  constitui crime tipificado no Código Penal Brasileiro. Nesta hipótese, o SITE se reserva o direito de terminar o 
  CONTRATO no momento em que tiver conhecimento da falsidade ou má-fé empregadas pelo ANUNCIANTE, podendo impedir 
  seu posterior regresso nos serviços oferecidos pelo CLICK ALUGUE e, ainda, noticiar a prática de crime às autoridades 
  competentes.</p>
<p>6.7 Caso o ANUNCIANTE descumpra qualquer regra do CONTRATO, o SITE pode rescindi-lo, ou, alternativamente, apenas 
  suspender a prestação dos serviços sem necessidade de aviso prévio ou notificação judicial ou extrajudicial, ficando 
  o restabelecimento dos serviços suspensos condicionados ao cumprimento integral da regra contratual descumprida.</p>
<p>6.7.1 A rescisão ou suspensão por motivos imputáveis ao ANUNCIANTE poderá ou não ser a ele comunicada por escrito, 
  através do e-mail do ANUNCIANTE constante do seu cadastro no CLICK ALUGUE.</p>
<p>6.7.2 Caso haja suspeita ou fortes indícios da má utilização dos serviços do CLICK ALUGUE pelo ANUNCIANTE, o SITE 
  poderá retirar o ANÚNCIO do ar, temporariamente ou em definitivo, mediante notificação ou aviso prévio a ser enviado 
  por e-mail, bem como recusar novo cadastro do ANUNCIANTE.</p>

<h3>7. DISPOSIÇÕES GERAIS</h3>
<p>7.1 O ANUNCIANTE declara ter compreendido perfeitamente todas as condições deste CONTRATO.</p>
<p>7.1.1 Se o ANUNCIANTE desejar qualquer esclarecimento, poderá solicitá-lo através de e-mail ao SITE, antes de concordar 
  com este CONTRATO.</p>
<p>7.2 Quaisquer avisos ou comunicações, que uma das PARTES deste CONTRATO tenha de fazer a outra PARTE, em relação a 
  quaisquer direitos ou obrigações contidas no presente instrumento, deverão ser efetuados em estrita observância à 
  legislação pertinente e adotar a forma escrita, sendo tidos como eficazmente entregues no endereço constante do 
  preâmbulo deste CONTRATO, se: (a) entregues em mãos mediante protocolo escrito por quem de direito possa representar 
  a PARTE remetida; (b) enviadas por serviço de "courier" mediante protocolo escrito ou se pelo correio, na forma de 
  carta registrada ("AR"), podendo ser recebida tanto pela PARTE remetida, pessoa que a possa representar ou portaria 
  de condomínio/assemelhado; ou (c) enviadas à área do CLICK ALUGUE reservada ao ANUNCIANTE, ou para o e-mail de contato.</p>
<p>7.2.1 O ANUNCIANTE entende que tem obrigação de verificar diariamente a área que lhe é reservada pelo CLICK ALUGUE (em 
  "Minha Conta", na "Área do Anunciante") a fim de tomar conhecimento das mensagens e arquivos eletrônicos que lhes sejam 
  enviadas pelo CLICK ALUGUE. Assim, as PARTES convencionam que as mensagens e arquivos eletrônicos enviados à área do 
  CLICK ALUGUE reservada ao ANUNCIANTE serão considerados como prova documental para todos os efeitos. Sem prejuízo da 
  disposição anterior, as PARTES também convencionam o recebimento de mensagens e arquivos eletrônicos como prova 
  documental para todos os efeitos, desde que com aviso de confirmação de recebimento ou outro tipo de protocolo/resposta 
  que certifique o recebimento da comunicação.</p>
<p>7.3 O ANUNCIANTE deverá notificar imediatamente o SITE por escrito sobre qualquer perda ou extravio de seu login e 
  senha. O ANUNCIANTE indenizará o SITE contra todas e quaisquer reivindicações de terceiros e todas as responsabilidades 
  resultantes de, ou relacionadas ao, uso de seu login e senha, inclusive quanto a danos resultantes de uso não autorizado 
  e/ou fraudulento.</p>
<p>7.4 Fica eleito o foro da Comarca da Capital do Rio de Janeiro/RJ, como competente para dirimir quaisquer controvérsias 
  relacionadas e este CONTRATO, independentemente de qualquer outro, por mais privilegiado que seja ou venha a ser.</p>
<p>7.5 O CLICK ALUGUE não funcionará, e não estará quebrando obrigação alguma para com o ANUNCIANTE segundo o CONTRATO, 
  em caso de força maior. Um caso de força maior significa qualquer circunstância fora do controle do SITE, incluindo, 
  mas não se limitando a, revolta ou desordem civil, guerra ou operações militares, emergência nacional ou local, 
  interrupção de corrente elétrica grave e sustentada ou interrupção grave de serviço de INTERNET, enchente, subsidência 
  ou condições meteorológicas de gravidade excepcional. Caso o CLICK ALUGUE seja afetado por um caso de força maior, ele 
  notificará prontamente ao ANUNCIANTE quanto à extensão e à duração estimada de sua incapacidade de cumprir ou atraso 
  no cumprimento de suas obrigações, com base em seus maiores esforços possíveis. O SITE não aceitará responsabilidade 
  alguma pelas consequências resultantes de caso de força maior. De igual maneira, as atividades do SITE e/ou CLICK 
  ALUGUE podem ser encerradas, a qualquer tempo e sob qualquer fundamento, não sendo devida qualquer indenização ao 
  ANUNCIANTE por tal fato.</p>
<p>7.6 O não exercício de um determinado direito, decorrente deste CONTRATO ou da lei, ou forma de exercê-lo em determinada 
  oportunidade, não estabelecerá precedente, nem constituirá novação ou renúncia às regras do presente CONTRATO.</p>

<h3>8. DISPOSIÇÕES FINAIS</h3>
<p>8.1 Este CONTRATO revoga e substitui quaisquer entendimentos verbais ou escritos havidos anteriormente entre as PARTES 
  acerca do objeto e demais disposições deste contrato.</p>
<p>8.2 Caso qualquer das cláusulas deste CONTRATO seja ou venha a se tornar ineficaz ou inválida, a validade e o efeito 
  das disposições restantes não serão afetados.</p>
<p>8.3 Nenhuma das disposições deste CONTRATO confere quaisquer direitos ou obrigações a terceiros que não às PARTES. 
  Por estarem de acordo com as condições estipuladas neste instrumento, as PARTES firmam o presente CONTRATO.</p>