<div class="container">

  <section class="wrap termos-uso">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h1 class="title title-no-icon">
          <i class="glyphicons glyphicons-list-alt"></i> Política de Qualidade</h1>

        <div>

          <h2>1. Definições</h2>

          <p>
            1.1 As definições específicas de termos utilizados neste instrumento estão localizadas no documento 
            Termos de Uso e Declaração de Direitos e Responsabilidades, que é parte integrante deste instrumento 
            e pode ser encontrado em <a href="termos-condicoes-uso">https://www.clickalugue.com.br/termos-condicoes-uso</a>
          </p>

          <h2>2. Considerações iniciais</h2>
          
          <p>
            2.1 Nossa Política de Qualidade possui normas de controle que visam a transparência e a credibilidade 
            dos serviços realizados com utilização da plataforma <strong>Click Alugue</strong>, assim os 
            deixando mais competitivos ao mercado imobiliário. O ANUNCIANTE e o USUÁRIO-GESTOR devem sempre 
            observar as determinações pertinentes, assim evitando a suspensão ou cancelamento de seus anúncios 
            ou contratos de AUTO-GESTÃO.
          </p>

          <p>
            2.2 Os anúncios e locações geridas que não estiverem de acordo com a presente Política de Qualidade 
            poderão não ser aceitos, suspensos ou até mesmo excluídos definitivamente do sistema conforme 
            previsto no respectivo contrato. 
          </p>

          <h2>3. Políticas gerais</h2>

          <p>
            3.1. <strong>INFORMAÇÕES:</strong> Todas as informações referentes aos anúncios, análises cadastrais 
            e locações a serem geridas, e os dados preenchidos pelos respectivos contratantes de cada PRODUTO 
            devem ser verdadeiros e consistentes. Caso seja encontrada qualquer irregularidade nos cadastros de 
            ANUNCIANTES E LOCADORES-GESTORES o <strong>Click Alugue</strong> se reserva ao direito de não aceitar, 
            suspender ou excluir os respectivos anúncios e acessos às ferramentas de AUTO-GESTÃO.
          </p>

          <p>
            3.2. <strong>ANÚNCIOS PROIBIDOS:</strong> Os anúncios efetuados no <strong>Click Alugue</strong> que 
            sejam inverídicos, referentes a pirâmides, correntes, ações irregulares, ilegais ou imorais, ou que 
            tenham conotações preconceituosas, socialmente excludentes ou que de alguma forma contrariem a 
            Constituição, no seu artigo 5º (Capítulo I), o Código de Defesa do Consumidor, bem como a legislação 
            brasileira, a moral e os bons costumes, que de algum modo representem concorrência desleal, entre 
            outras práticas, são terminantemente proibidos.
          </p>

          <p>
            3.3. <strong>COBRANÇA:</strong> Toda a cobrança solicitada pelo <strong>ANUNCIANTE</strong> ou pelo 
            <strong>USUÁRIO-GESTOR</strong> deverá estar descrita de forma transparente no respectivo anúncio ou 
            locação gerida. O <strong>Click Alugue</strong> não se responsabiliza por valores apostos pelos 
            <strong>USUÁRIOS</strong> do sistema, e se reserva ao direito de suspender ou excluir qualquer anúncio 
            com cobranças indevidas ao <strong>USUÁRIO.</strong>
          </p>




          <p>
            3.4. <strong>EXCLUSÃO DE CONTEÚDO:</strong> O <strong>Click Alugue</strong> se reserva ao direito de 
            excluir qualquer anúncio ou locação gerida, mediante reclamações realizadas através de denúncias formais 
            ou por simples investigação de que o <strong>ANUNCIANTE</strong> ou <strong>USUÁRIO-GESTOR</strong> agiu 
            em desacordo com as Políticas do Site. Qualquer direito não expressamente concedido é reservado.
          </p>


          <h2>4. Políticas sobre imóveis em anúncios</h2>


          <p>
            4.1. <strong>IMAGENS E DADOS:</strong> Todas as imagens e os dados cadastrais utilizados no anúncio do 
            <strong>Click Alugue</strong>, devem pertencer àquele imóvel e/ou unidade disponível para locação (no 
            caso de apartamentos em edifícios ou condomínios). Não será aceito o cadastro de imagens ilustrativas, 
            tais como, logotipos de imobiliárias, website ou número de telefones, fotos de corretores e/ou pessoas. 
            As fotos devem corresponder ao imóvel cadastrado no anúncio. Os anúncios que contiverem fotos, mas estas 
            não corresponderem ao imóvel, serão suspensos ou excluídos a critério único e exclusivo do <strong>Click 
              Alugue</strong>, e o <strong>ANUNCIANTE</strong> será informado por e-mail. 
          </p>


          <ol style="list-style-type: lower-alpha">
            <li>
              <strong>Qualidades das imagens:</strong> O Click Alugue recomenda que as imagens sejam feitas com uma 
              câmera de uma boa resolução, deixe o ambiente claro e mostrando com nitidez, aumentando, assim, as 
              chances de retorno do anúncio. As extensões permitidas no Click Alugue são: JPG, JPEG, GIF e PNG, com 
              limite máximo de 20 imagens por anúncio e tamanho de 02 Mb por imagem 
            </li>
            <br />
            <li>
              <strong>Endereço Imóvel Anunciado:</strong> O endereço do imóvel anunciado não poderá ser alterado 
              nos campos de <strong>Logradouro, Número, Complemento, Bairro e CEP</strong> após a publicação no 
              portal. No campo Endereço não será permitido colocar informações como “Próximo de”, “Perto de” ou 
              “Consulte-nos”. Qualquer termo que não se refira exatamente ao nome e local do logradouro é proibido.
            </li>
            <br />
            <li>
              <strong>Descrição do Imóvel:</strong> Este espaço está destinado para descrever as características 
              e qualidades do imóvel anunciado, ideal para destacar os pontos atrativos do imóvel e das 
              proximidades, tais como, sol da manhã ou tarde, primeira locação, mercados, shopping, restaurantes 
              e praias. Números de telefone e e-mails não devem ser colocados neste espaço e seu descumprimento 
              acarretará o bloqueio do anúncio.
            </li>
            <br />
            <li>
              <strong>Telefone:</strong> O telefone cadastrado deverá sempre estar atualizado, pois é através 
              dele que o <strong>USUÁRIO</strong> realizará o contato. Não será permitido o cadastro de números 
              de telefones no campo de "Descrição do imóvel".
            </li>
            <br />
            <li>
              <strong>Mapa:</strong> A visualização do mapa fica vinculada ao endereço de cadastro do imóvel 
              que está anunciado através do nome da Rua, Número, Bairro, Cidade e CEP, não sendo permitida a 
              vinculação a qualquer outro imóvel que não o anunciado. O importante é que o mapa mostre o local 
              correto do imóvel anunciado.
            </li>
            <br />
            <li>
              <strong>Alteração dos dados do imóvel:</strong> Ao <strong>ANUNCIANTE</strong> não será permitido 
              alterar os seguintes dados do imóvel já anunciado: (Logradouro, Número, Complemento, Bairro e CEP) 
              e os campos disponíveis e liberados para alteração são: valor do imóvel, telefones, descrição do 
              anúncio e fotos. 
            </li>
            <br />
            <li>
              <strong>Valores de locação:</strong> Todos os valores preenchidos devem ser apenas em moeda corrente 
              nacional (R$) que corresponderão ao valor de locação, condomínios e IPTU. Caso queira fornecer 
              referência de valores em outra moeda, pedimos que você utilize o campo "Descrição do Imóvel". 
              Deve-se sempre manter a clareza do anúncio e dos valores praticados para evitar transtornos futuros, 
              o que pode levar a bloqueio do anúncio. 
            </li>
          </ol>

          <p>
            4.2. <strong>IMÓVEL ALUGADO</strong>: A retirada dos anúncios de imóveis já locados fica sob a total 
            responsabilidade do <strong>ANUNCIANTE.</strong> 
          </p>

          <h2>5. Cadastro</h2>

          <p>
            5.1.<strong>DADOS CADASTRAIS:</strong> Ao se cadastrar no sistema <strong>Click Alugue</strong>, o 
            <strong>USUÁRIO</strong> deverá fornecer informações atualizadas e completas, incluindo o 
            número de inscrição no CNPJ ou CPF. O <strong>SITE</strong> se reserva o direito de verificar 
            todos os dados do <strong>USUÁRIO</strong> que se cadastre, com a finalidade de garantir maior 
            segurança do serviço para seus <strong>USUÁRIOS</strong>. Havendo qualquer informação suspeita, 
            ou outra irregularidade no cadastro, o <strong>SITE</strong> poderá cancelar os acessos aos serviços 
            no <strong>Click Alugue</strong> de forma definitiva, ou suspendê-los até a regularização.
          </p>
          <ol style="list-style-type: lower-alpha">
            <li>
              <strong>Nome do Profissional/Proprietário ou da Pessoa jurídica:</strong> O <strong>ANUNCIANTE</strong> 
              ou <strong>USUÁRIO-GESTOR</strong> pessoa física deverá preencher o seu nome completo sem abreviações. 
              Caso o <strong>ANUNCIANTE</strong> ou <strong>USUÁRIO-GESTOR</strong> seja pessoa jurídica, poderá ser 
              preenchido o nome fantasia, nos termos da Lei.
            </li>
            <br />
            <li>
              <strong>Razão Social:</strong> Este campo fica direcionado à pessoa jurídica, para preenchimento 
              obrigatório da razão social.
            </li>
            <br />
            <li>
              <strong>Endereço:</strong> O <strong>ANUNCIANTE</strong>, ou <strong>USUÁRIO-GESTOR</strong> deve 
              preencher o endereço para contato atualizado.
            </li>
            <br />
            <li>
              <strong>Telefone e E-mail:</strong> Estes são dados obrigatórios e só poderão constar no campo 
              destinado para isso. O <strong>ANUNCIANTE</strong> ou <strong>USUÁRIO-GESTOR</strong> deverá 
              manter constantemente estes dados atualizados.
            </li>
          </ol>

          <p>
            5.2. <strong>CAMPOS NÃO EDITÁVEIS:</strong> A fim de evitar conflitos e erros de cadastro, uma vez 
            salvas as informações, existem campos não editáveis pelo USUÁRIO
          </p>

          <h2>6. Responsabilidades</h2>

          <p>
            6.1. O <strong>Click Alugue</strong> está isento de qualquer responsabilidade em conexão com qualquer 
            dano direto ou indireto que o <strong>ANUNCIANTE</strong> ou <strong>USUÁRIO-GESTOR</strong> venha a 
            sofrer em decorrência de gastos e/ou valores a receber provenientes de contratos ou acordos com 
            <strong>USUÁRIOS.</strong>
          </p>
          <p>
            6.2. O <strong>Click Alugue</strong> não tem qualquer responsabilidade ou controle pelo conteúdo 
            das mensagens, ligações ou quaisquer contatos e documentos que são trocadas entre <strong>ANUNCIANTE</strong> 
            ou <strong>USUÁRIO-GESTOR</strong> e <strong>USUÁRIOS</strong>, ocupem ou não a posição de locatário, 
            garantidor ou administrador, seja por meio da plataforma CLICK ALUGUE ou outro meio de contato.
          </p>
          <p>
            6.3. O <strong>Click Alugue</strong> não se responsabiliza pelas visualizações que qualquer <strong>USUÁRIO</strong> 
            ou <strong>ANUNCIANTE</strong> possa ter dos dados ou informações do <strong>ANUNCIANTE</strong> quando 
            inseridos no contexto do anúncio, tampouco do uso que será feito por tais indivíduos;
          </p>
          <p>
            6.4. O <strong>Click Alugue</strong> não se responsabiliza pela confidencialidade dos dados e 
            informações publicadas nos anúncios, pois poderão ser acessados por todos os usuários da web, nem 
            pelos dados e informações enviadas ou disponibilizados pelo <strong>USUÁRIO-GESTOR</strong> ao 
            locatário e demais <strong>USUÁRIOS</strong>;
          </p>
          <p>
            6.5. O <strong>Click Alugue</strong> é isento de qualquer responsabilidade por ato ou fato ilícito 
            ou imoral que venha a ocorrer em decorrência da divulgação dos dados ou informações postadas nos 
            anúncios ou na plataforma de AUTO-GESTÃO. 
          </p>
          <p>
            6.6. O <strong>Click Alugue</strong> está aberto para sugestão sobre sua Política de Qualidade. 
            Caso você saiba ou suspeite que alguma atividade ilegal esteja sendo praticada por algum USUÁRIO, 
            fique à vontade para nos enviar uma mensagem para 
            <a href="mailto:atendimento@clickalugue.com.br">atendimento@clickalugue.com.br</a> 
            ou, para denúncias sobre anúncios, utilize o botão denúncia na página de detalhes do imóvel. 
          </p>
          <p>
            6.7. O <strong>Click Alugue</strong> poderá alterar esta Política de Qualidade a qualquer momento. 
            Como toda alteração será imediatamente publicada no <strong>Click Alugue</strong>, solicitamos que 
            você pratique uma leitura periódica para se informar sobre a Política de Qualidade vigente. As 
            alterações entram em vigor automaticamente, independentemente de anuência expressa dos 
            <strong>USUÁRIOS</strong>, que resta presumida pela continuidade de uso do website CLICK ALUGUE, 
            dos sistemas e plataformas disponíveis e contratadas.
          </p>
          <p>
            6.8. O <strong>Click Alugue</strong> representa apenas um espaço para conexão entre interessados em (i) 
            realizar e gerir locação de imóveis, ou (ii) obter análise cadastral de potenciais locatários, eximindo-se 
            de qualquer responsabilidade quanto às condições dos contratos de locação que porventura se concretizem 
            entre <strong>USUÁRIOS</strong> e <strong>ANUNCIANTES</strong> ou <strong>LOCADORES-GESTORES</strong>, 
            bem como pelos danos que estes sofram em virtude do pacto firmado ou ações de terceiros.
          </p>

        </div>
      </div>
    </div>
  </section>
</div>
